<div class="content" role="main">
  <div class="px-5 m-3 card card-body">
    <div *ngIf="cepError" class="alert alert-danger" role="alert">
      CEP não encontrado.
    </div>
    <h1 class="display-6">Endereço</h1>
    <div class="row mb-2">
      <div class="col-md-3">
        <label for="cep" class="form-label">CEP</label>
        <input
          type="text"
          name="cep"
          id="cep"
          class="form-control"
          (input)="onInputCep()"
          [(ngModel)]="cep"
        />
      </div>
      <div class="col-md-3">
        <label for="street" class="form-label">Rua</label>
        <input
          type="text"
          name="street"
          id="street"
          class="form-control"
          [(ngModel)]="street"
        />
      </div>
      <div class="col-md-3">
        <label for="number" class="form-label">Número</label>
        <input
          type="text"
          name="number"
          id="number"
          class="form-control"
          [(ngModel)]="number"
        />
      </div>
      <div class="col-md-3">
        <label for="complement" class="form-label">Complemento</label>
        <input
          type="text"
          name="complement"
          id="complement"
          class="form-control"
          [(ngModel)]="complement"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label for="state" class="form-label">Estado</label>
        <input
          type="text"
          name="state"
          id="state"
          class="form-control"
          [(ngModel)]="state"
        />
      </div>
      <div class="col-md-4">
        <label for="city" class="form-label">Cidade</label>
        <input
          type="text"
          name="city"
          id="city"
          class="form-control"
          [(ngModel)]="city"
        />
      </div>
      <div class="col-md-6">
        <label for="district" class="form-label">Bairro</label>
        <input
          type="text"
          name="district"
          id="district"
          class="form-control"
          [(ngModel)]="district"
        />
      </div>
    </div>
  </div>
</div>
